/*common------------------------*/
body{
    background-color: #000;
}

/*----animation---------------*/
.fade-in{
    animation: fade-in 1s forwards ease 0s 1;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*header----------*/

header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: 950;
}
#header-container{
    position: relative;
}

#title-container01{
    text-align: center;
    top: 57px;
    left: 48%;
    position: absolute;
}
#title-container02{
    color: #FFF;
    text-align: center;
    top: 57px;
    left: 40%;
    position: absolute;
    opacity: 0;

}
#title-container03{
    color: #FFF;
    text-align: center;
    top: 57px;
    left: 56%;
    position: absolute;
    opacity: 0;

}
h1{
    margin: 0;
    font-size: 80px;
    color: #FFF;
    font-family: 'Tangerine', cursive;
    display: inline;
}
h2{
    margin: 0;
    font-size: 80px;
    font-family: 'Tangerine', cursive;
    display: inline;
}
h1:hover{
    color: #3b86d4
}
#caution-container{
    text-align: center;
    position: absolute;
    top: 180px;
    left: 38%;
    z-index: 1000;
}
#caution{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    display: inline;
}
#caution:hover{
    color: #3b86d4;
}
#explain-container{
    text-align: center;
    position: absolute;
    top: 210px;
    left: 36.5%;
    z-index: 2500;
}
#explain{
    font-family: 'Source Sans Pro', sans-serif;
    color: #3b86d4;
    text-align: center;
    font-size: 10px;
    display: inline;
    opacity: 0;
}
#explain:hover{
    opacity: 1;
}

/*main---------------*/
main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
#main-container{
    position: relative;
}

/* canvas-container */
#canvas-container{
    position: absolute;
    top: 0;
}
#caption01{
    position: absolute;
    z-index: 1100;
    top: 650px;
    left:47.5%;
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3b86d4;
    display: inline;
    opacity: 0;
}
#caption02{
    position: absolute;
    z-index: 1100;
    top: 650px;
    left:77%;
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3b86d4;
    display: inline;
    opacity: 0;
}
#caption03{
    position: absolute;
    z-index: 1100;
    top: 650px;
    left:18%;
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3b86d4;
    display: inline;
    opacity: 0;
}


/*works-canvas------------*/
#works-canvas-container{
    width: 100% ;
    height: 100vh;

    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: #0F0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

#works-canvas-container.in{
    z-index: 1000;
    opacity: 1;
}
.close-btn{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
    transition: all 0.5s;
}
.close-btn.in{
    opacity: 1;
}
.close-btn i{
    width: 80px;
    height: auto;
    color: #FFFFFF;
    font-size: 32px;
}
.fullscreen-btn{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 100px;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
    transition: all 0.5s;
}

.fullscreen-btn.in{
    opacity: 1;
}
.fullscreen-btn i{
    width: 80px;
    height: auto;
    color: #FFFFFF;
    font-size: 32px;
}


#button01_request{
    position: absolute;
    top: 20px;
    right: 60px;
}
#button01_exit{
    position: absolute;
    top: 20px;
    right: 10px;
}
